<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="vendors/angular.js"></script>
    <script src="scripts/client.js"></script>
    <link rel="stylesheet" href="styles/style.css">
    <title>Guess Who with Angular!</title>
</head>
<body ng-app='guessWhoApp'>
    <h1>Hello World</h1>

    <div ng-controller="guessWhoController as guessWho">
        <p>{{guessWho.message}}</p>
        <input ng-model="guessWho.name" type="text">
        <input ng-model="guessWho.github" type="text">
        <button ng-click="guessWho.submit(guessWho.name)">Submit</button>
    </div>
    
    
    
</body>
</html>